@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Spartan";
    font-weight: 700;
    src: url(/fonts/Spartan/static/Spartan-Bold.woff) format("woff");
  }

  :root {
    --color-bg-primary: #3a4663;
    --color-bg-secondary: #242d44;
    --color-bg-darker: #181f33;

    --color-text-primary: #ffffff;
    --color-text-secondary: #434a59;

    --color-button-primary: #eae3dc;
    --color-button-secondary: #647198;
    --color-button-tertiary: #d03f2f;

    --color-button-primary-shadow: #b3a497;
    --color-button-secondary-shadow: #414e73;
    --color-button-tertiary-shadow: #93261a;
  }
}
